<h1 style="margin-top: 4rem;">Add a new book here!</h1>

<form id='bookForm'>
  <input type="text" id='#title' placeholder="Title">
  <input type="text" id='#author' placeholder="Author">
  <input type="text" id='#pages' placeholder="How many pages?">
  <input type="text" id='#read' placeholder="Have you read it?">
</form>
