.home-banner {
  background-image: url('https://source.unsplash.com/8pnilZRSe-A');
  background-size: cover;
  height: 100%;
  color: #eee;
  text-align: center;
  padding-top: 10vh;
}

.home-banner-full {
  background-image: url('https://source.unsplash.com/8pnilZRSe-A');
  background-size: cover;
  height: 200vh;
  color: #eee;
  text-align: center;
  padding-top: 10vh;
}