.books {
  display: flex;
  flex-wrap: wrap;
}

.book-link {
  text-decoration: none;
  color: black;
}

.book-link:hover {
  text-decoration: none;
  color: black;
}

.book-card {
  background-color: rgba(249, 249, 249, 0.776);
  color: black;
  margin: 30px;
}

.book-card-img {
  height: 200px;
  width: 200px;
}

.show-options {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: auto;
}
