.navbar-lewagon {
  justify-content: space-between;
  // background: white;
  background-color: transparent;
  transition: 0.4s background-color ease;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon-white {
  background-color: rgb(174, 171, 171);
}

.username {
  color: white;
  padding-top: 8px;
}